{
	"semi": true,
	"singleQuote": true,
	"printWidth": 80,
	"bracketSpacing": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.jsonc"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
